.overlay {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 1));
    background-color: #ff5200;
}

.black-overlay{
    background-color: rgba(0, 0, 0, 0.7);
}

.footer p{
    color: rgba(2, 6, 12, 0.6);
    font-weight: 600;
    margin: 8px 0;
    cursor: pointer;
    transition: all .5s ease;

}
.footer p:hover{
    color: rgba(2, 6, 12, 0.803);
    
}


.locationSet:hover h2{
    color: #ff5200;
}


.cart-overflow::-webkit-scrollbar{
    background-color: transparent;
}